body {
  background: #fdfdfd;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 460px;
}

input.invalid, select.invalid, .custom-file-label.invalid {
  border-color: #dc3545;
}

.invalid-feedback {
  display: block;
}

.avatar {
  width: 100%;
  margin-bottom: 2rem;
}
